kimble/build/
kimble/dist/
kimble/nbproject/private/
kimble/logs/

kimbleAI/build/
kimbleAI/dist/
kimbleAI/nbproject/private/
kimbleAI/logs/
kimbleAI/bots/lib/

rules-and-techspecs/*.aux
rules-and-techspecs/*.log
rules-and-techspecs/*.out
rules-and-techspecs/*.pdf
rules-and-techspecs/*.toc
rules-and-techspecs/*.synctex.gz
rules-and-techspecs/build/

test-projects/SocketClient/build/
test-projects/SocketClient/dist/
test-projects/SocketClient/nbproject/private/

test-projects/SocketServer/build/
test-projects/SocketServer/dist/
test-projects/SocketServer/nbproject/private/
